.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.LandingPage-logo {
  animation: LandingPage-logo-spin infinite 20s linear;
  height: 50px;
}

.LandingPage-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  width: 100%;
}

.LandingPage-title {
  font-size: 1.5em;
}

.LandingPage-intro {
  font-size: large;
}

@keyframes LandingPage-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
